<div class="centerText">
  <div class="header">
    <!--  <img class="header" src="../../../../../assets/images/youtube_banner.jpg" />-->
    <img class="header-image" src="../../../../../assets/images/logo1.png" />

    <nav class="header-links-nav">
      <ul class="header-links">
        <li>
          <a [routerLinkActiveOptions]="{exact:true}"
             routerLink="" routerLinkActive="active-link">Home</a>
        </li>
        <li>
          <a routerLink="about" routerLinkActive="active-link">About Us</a>
        </li>
<!--        <li>-->
<!--              <a class="header-link" href="/firebaseui-login">Login</a>-->
<!--        </li>-->
<!--        <li>-->
<!--              <a class="header-link" href="/whiskey">Whiskey</a>-->
<!--        </li>-->
      </ul>




    </nav>
  </div>

</div>
<router-outlet></router-outlet>
